@import './vars.scss';

.placeholder {
	height: 44px;
	background-color: rgba($color_white, .08);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;

	&_animated {
		&::before {
			content: '';
			position: absolute;
			left: -150px;
			top: 0;
			height: 100%;
			width: 150px;
			background: linear-gradient(to right, $color_transparent 0%, #E8E8E8 50%, $color_transparent 100%);
			animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
		}
	}
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}

.text-truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
